
<!doctype html>
<head>
    {% if not user %}
        <meta http-equiv="refresh" content="0; URL='/login'" />
    {% endif %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='node_modules/oojs-ui/dist/oojs-ui-wikimediaui.min.css') }}">
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/oojs/dist/oojs.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/oojs-ui/dist/oojs-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/oojs-ui/dist/oojs-ui-wikimediaui.min.js') }}"></script>
    {% if user %}
        <script src="{{ url_for('static', filename='home.js') }}"></script>
    {% endif %}
</head>

<body>
    <div class="header">
        <h1>Pannello di tutoraggio</h1>
        {% if user %}
            <p>{{user}} (<a href="logout">logout</a>)</p>
        {% else %}
            <p><a href="login">login</a></p>
        {% endif %}
    </div>
    {% if user %}
        <div id="page"></div>
        <div id="segui" style="display:none">{% include 'segui.html' %}</div>
        <div id="modifiche" style="display:none">{% include 'modifiche.html' %}</div>
        <div id="notifications" style="display:none">{% include 'notifications.html' %}</div>
    {% else %}
        <script>
        var msgalert = new OO.ui.MessageWidget( {
            type: 'warning',
            label: 'Per proseguire devi effettuare il login con il tuo account Mediawiki. Stai venendo automaticamente reindirizzato/a.\n\nSe nulla succede, premi il pulsante "login" - in alto a destra!'
        } );
        var prog = new OO.ui.ProgressBarWidget( {
            progress: false
        } )

        $( document ).ready(function() {
            $(".header").after(msgalert.$element);
        });
        </script> 
    {% endif %}
</body>