<!doctype html>
<head>
    <link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.legacy.shared|mediawiki.diff.styles&only=styles">
    
    <script>
        var stack = new OO.ui.StackLayout( {
            continuous: true,
            classes: ['editslist'],
            items: [],
        });
        var diffdisplay = new OO.ui.StackLayout( {
            continuous: false,
            classes: ['diffdisplay'],
            items: [],
        });
        $( document ).ready(function() {
            $(".edits-content").append(stack.$element, diffdisplay.$element);
        });

        function diff(revid, oldrevid, object){
            console.log("click");
            var url2 = "https://it.wikipedia.org/w/api.php"; 
            if (oldrevid==0) //new page
                alert("new");
                //...

            var params2 = {
                "action": "compare",
                "format": "json",
                "fromrev": revid,
                "torev": oldrevid,
                "prop": "diff|ids|title",
                "slots": "*"
            };
            url2 = url2 + "?origin=*";
            Object.keys(params2).forEach(function(key){url2 += "&" + key + "=" + params2[key];});
            fetch(url2)
                .then(function(response){return response.json();})
                .then(function(response) {
                    var diff = response.compare.bodies.main;
                    var difflay=new OO.ui.PanelLayout( {
                        $content: $(diff),
                        classes: [ 'five' ], 
                        scrollable: true,
                        expanded: true
                    });
                    diffdisplay.addItems(difflay);
                    diffdisplay.setItem(difflay);
                });
        }

        var lrev="";
        var url = "https://it.wikipedia.org/w/api.php"; 

        var params = {
            "action": "query",
            "format": "json",
            "list": "recentchanges",
            "rcprop": "title|ids|user|userid|oresscores|comment",
            "rcshow": "!bot",
            "rclimit": "1",
            "rctype": "edit|new",
            "rctoponly": 1
        };
        url = url + "?origin=*";
        Object.keys(params).forEach(function(key){url += "&" + key + "=" + params[key];});
        setInterval(function() {
            fetch(url)
                .then(function(response){return response.json();})
                .then(function(response) {
                    var recentchanges = response.query.recentchanges;
                    for (var rc in recentchanges) {
                        var edit=recentchanges[rc];
                        if (edit.oresscores.goodfaith==undefined)
                            var ores=1;
                        else
                            var ores=edit.oresscores.goodfaith;

                        if (lrev != edit.revid && ores >= 0.3){
                            console.log(edit.user);
                            var bttn=new OO.ui.ButtonWidget( {
                                    framed: false,
                                    indicator: 'down',
                                    label: edit.user
                            } );
                            bttn.on("click", function(){diff(edit.revid, edit.old_revid, this.$element)});
                            var obj=new OO.ui.PanelLayout( {
                                $element: bttn.$element,
                                classes: [ 'five' ], 
                                padded: true,
                                scrollable: true,
                                expanded: true
                            } )
                            stack.addItems(obj, 0)
                            lrev=edit.revid;
                        }
                    }
                })
                .catch(function(error){console.log(error);});
        }, 1000);
    </script>
</head>

<body>
    <div class="edits-content"></div>
</body>