<!doctype html>
<head>
    {% if not user %}
    <meta http-equiv="refresh" content="0; URL='/login'" />    
    {% endif %}
    <title>Aula Tutor</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="header">
        <h1>Segui utente</h1>
        {% if user %}
            <p>{{user}} (<a href="logout">logout</a>)</p>
        {% else %}
            <p><a href="login">login</a></p>
        {% endif %}
    </div>
    <dib class="content">
        {% if user %}
            <p><a href="https://it.wikipedia.org/wiki/User:{{target}}">{{target}}</a></p>
        {% else %}
            <p>Per procedere è necessario effettuare il login. <a href="login">Effettua il login</a>.</p>
        {% endif %}
    </dib>
</body>