<!doctype html>
<head>
    <script>  
        function segui(user){
            if (user!="")
                window.open("segui/"+user);
        }
        function rimuovi(user){
            console.log("rimuovi "+user);
        }
        
        var txtinput = new OO.ui.FieldsetLayout( {
            label: null,
            items: [
                new OO.ui.FieldLayout( new OO.ui.TextInputWidget({
                    icon: 'userAvatarOutline'
                }), {
                    align: 'top',
                    label: 'Scegli un utente'
                } ),
                new OO.ui.FieldLayout( new OO.ui.Widget( {
                    content: [
                        new OO.ui.HorizontalLayout( {
                            items: [
                                new OO.ui.ButtonInputWidget( {
                                    type: 'submit',
                                    name: 'segui',
                                    label: 'Segui',
                                    flags: [
                                        'primary',
                                        'progressive'
                                    ],
                                    icon: 'userAdd',
                                    classes: ['segui-add']
                                } ),
                                new OO.ui.ButtonWidget( {
                                    framed: false,
                                    flags: [
                                        'destructive'
                                    ],
                                    label: 'Smetti di seguire',
                                    classes: [
                                        'segui-remove'
                                    ]
                                } )
                            ]
                        } )
                    ]
                } ), {
                    align: 'top',
                    label: null
                } )
            ]
        } );

        $( document ).ready(function() {
            $(".content-segui").append(txtinput.$element);
        });


        txtinput.items[1].$element.find('.segui-add').on("click", function(){segui(txtinput.$element.find("input").val())});
        txtinput.items[1].$element.find('.segui-remove').on("click", function(){rimuovi(txtinput.$element.find("input").val())});

    </script>
</head>

<body>
    

    {% if user %}
        <div class="content-segui"></div>
    {% else %}
        <p>Per procedere è necessario effettuare il login. <a href="login">Effettua il login</a>.</p>
    {% endif %}

</body>